@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: linear-gradient(to right, #ff9966, #ff5e62);
  min-height: 100vh;
  padding: 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  color: hsl(198, 1%, 29%);
  font-family: "Architects Daughter", cursive;
  text-align: center;
  font-size: 130%;
}

.container {
  width: 100%;
  min-height: 500px;
  max-width: 500px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  box-sizing: border-box;
}

.heading h1 {
  font-size: 2.5rem;
  color: #333;
  padding: 0.5rem 0;
}

.form input {
  box-sizing: border-box;
  padding: 0.7rem;
  border: none;
  border-bottom: 2px solid #333;
  font-family: "Architects Daughter", cursive;
  font-size: 1rem;
  color: hsla(260, 2%, 25%, 0.8);
  width: 100%;
  margin-bottom: 20px;
  outline: none;
}

button {
  cursor: pointer;
  background-color: #ff5e62;
  color: #fff;
  border: none;
  padding: 0.7rem 1rem;
  font-family: "Architects Daughter", cursive;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #ff9966;
}

li {
  text-align: left;
}

ol {
  list-style: decimal;
  padding-left: 20px;
}